<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AdminServiceSoap"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
          <security mode="Transport" />
        </binding>
        <binding name="OrderServiceSoap"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
          <security mode="Transport" />
        </binding>
        <binding name="ShippingServiceSoap"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/AdminService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AdminServiceSoap"
                contract="AdminService.AdminServiceSoap"
                name="AdminServiceSoap" />
      <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/OrderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap"
                contract="OrderService.OrderServiceSoap"
                name="OrderServiceSoap" />
    </client>
    <services></services>
  </system.serviceModel>
  <appSettings>
  </appSettings>
</configuration>